<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.timwu.driver.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOXboxPartitionScheme</key>
		<dict>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Whole</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOClass</key>
			<string>IOXboxPartitionScheme</string>
			<key>Content Mask</key>
			<string>Xbox_partition_scheme</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.3</string>
	</dict>
</dict>
</plist>
